{% extends 'main.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-title ">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Change Password</span>
                                </div>
                            </div>
                            <div class="portlet-body">

                                <form action="{{ path('change_password') }}" method="post" novalidate="novalidate">
                                    <div class="form-group {% if not form.oldPassword.vars.valid %}has-error{% endif %}">
                                        <label>Current Password</label>
                                        {{ form_widget(form.oldPassword, {'attr' : {'class' : 'form-control', 'autofocus' : 'autofocus'}}) }}
                                        {{ form_errors(form.oldPassword) }}
                                    </div>
                                    <div class="form-group {% if not form.password.first.vars.valid %}has-error{% endif %}">
                                        <label>New Password</label>
                                        {{ form_widget(form.password.first, {'attr' : {'class' : 'form-control'}}) }}
                                        {{ form_errors(form.password.first) }}
                                    </div>
                                    <div class="form-group {% if not form.password.second.vars.valid %}has-error{% endif %}">
                                        <label>Confirm Password</label>
                                        {{ form_widget(form.password.second, {'attr' : {'class' : 'form-control'}}) }}
                                        {{ form_errors(form.password.second) }}
                                    </div>
                                    <div class="margin-top-10">
                                        {{  form_widget(form.save) }}
                                        {{ form_widget(form._token) }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


