{% extends "main.html.twig" %}
{% block sidebar_close %}page-sidebar-closed{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div id="page-container">
                {{ include('tpl/_loading.html.twig')}}
            </div>
        </div>
    </div
{% endblock %}

{% block isReact %}{% endblock %}
{% block javascripts %}
    {{ parent() }}
  
    <script type="text/javascript">
        window.userId = "{{ user.id }}";
        window.hostIp = "{{ hostIp }}";
        window.imgUrl = "{{ imgUrl }}";
    </script>

    {% if app.environment == "prod" %}
        <script type="text/javascript" src="{{ asset('compiled/js/form-status.react.min.js', 'compiled') }}"></script>
    {% else %}
        <script type="text/babel" src="{{ asset('scripts/voter/voter-temporary-create-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/form-status/form-status-edit-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/form-status/form-status-create-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/form-status/form-status-datatable.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/form-status/form-status.react.js', 'pages') }}"></script>
    {% endif %}

{% endblock %}