{% extends 'main.html.twig' %}

{% block body %}
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div id="content">{{include('tpl/_system_loading.html.twig')}}</div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bootstrap-iconpicker/css/bootstrap-iconpicker.min.css', 'plugins') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block isReact %}{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.4.0.min.js', 'plugins')}}" ></script>
    <script type="text/javascript" src="{{ asset('bootstrap-iconpicker/js/bootstrap-iconpicker.min.js', 'plugins')}}" ></script>

    {% if app.environment == 'prod' %}
        <script type="text/javascript" src="{{ asset('compiled/js/menu.react.min.js', 'compiled') }}"></script>
    {% else %}
        <script type="text/babel" src="{{ asset('scripts/system/menu/item-form.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/system/menu/module-list.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/system/menu/nestable.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/system/menu/menu-section.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/system/menu/menu-index.react.js', 'pages') }}"></script>
    {% endif %}
{% endblock %}
