{% extends "main.html.twig" %}
{% block sidebar_close %}page-sidebar-closed{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div id="assistance-summary-container">
                {{ include('tpl/_loading.html.twig')}}
            </div>
        </div>
    </div
{% endblock %}

{% block isReact %}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.userId = "{{ user.id }}";
        console.log("user id has been received");
        console.log(window.userId);
    </script>
    {% if app.environment == "prod" %}
        <script type="text/javascript" src="{{ asset('compiled/js/voter-assistance-summary.react.min.js', 'compiled') }}"></script>
    {% else %}
        {# <script type="text/babel" src="{{ asset('scripts/voter-assistance-summary/voter-summary-item-detail.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/voter-assistance-summary/voter-barangay-summary.table.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/voter-assistance-summary/voter-municipality-summary.table.react.js', 'pages') }}"></script>
         #}
        <script type="text/babel" src="{{ asset('scripts/voter-assistance-summary/voter-municipality-assistance-summary.table.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/voter-assistance-summary/voter-province-assistance-summary.table.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/voter-assistance-summary/voter-assistance-summary.react.js', 'pages') }}"></script>
    {% endif %}
{% endblock %}