{% extends "main.html.twig" %}
{% block sidebar_close %}page-sidebar-closed{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div id="page-container">
                {{ include('tpl/_loading.html.twig')}}
            </div>
        </div>
    </div
{% endblock %}

{% block isReact %}{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% if app.environment == "prod" %}
        <script type="text/javascript" src="{{ asset('compiled/js/jpm-group-assistance.react.min.js', 'compiled') }}"></script>
    {% else %}
        <script type="text/babel" src="{{ asset('scripts/assistance/assistance-new-profile-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/group-assistance/group-assistance-new-detail-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/group-assistance/group-assistance-detail-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/group-assistance/group-assistance-detail-datatable.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/group-assistance/group-assistance-datatable.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/group-assistance/group-assistance-create-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/group-assistance/group-assistance.react.js', 'pages') }}"></script>
    {% endif %}
{% endblock %}