{% extends "main.html.twig" %}
{% block sidebar_close %}page-sidebar-closed{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div id="page-container">
                {{ include('tpl/_loading.html.twig')}}
            </div>
        </div>
    </div
{% endblock %}

{% block isReact %}{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        window.userId = "{{ user.id }}";
    </script>

    {% if app.environment == "prod" %}
        <script type="text/javascript" src="{{ asset('compiled/js/tupad.react.min.js', 'compiled') }}"></script>
    {% else %}
        <script type="text/babel" src="{{ asset('scripts/tupad/tupad-member-create-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/tupad/tupad-member-datatable.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/tupad/tupad.create-new-profile-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/tupad/tupad-edit.modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/tupad/tupad-create.modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/tupad/tupad.datatable.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/tupad/tupad.react.js', 'pages') }}"></script>
    {% endif %}
{% endblock %}