{% extends "main.html.twig" %}
{% block sidebar_close %}page-sidebar-closed{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div id="page-container">
                {{ include('tpl/_loading.html.twig')}}
            </div>
        </div>
    </div
{% endblock %}

{% block isReact %}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.userId = "{{ user.id }}";
        window.hostIp = "{{ hostIp }}";
    </script>
    {% if app.environment == "prod" %}
        <script type="text/javascript" src="{{ asset('compiled/js/kfc-attendance.react.min.js', 'compiled') }}"></script>
    {% else %}
        <script type="text/babel" src="{{ asset('scripts/voter/voter-temporary-create-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/kfc-attendance/kfc-attendance-profile.create-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/kfc-attendance/kfc-attendance-assignment.create-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/kfc-attendance/kfc-attendance-assignment.datatable.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/kfc-attendance/kfc-attendance-profile.datatable.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/kfc-attendance/kfc-attendance-detail.modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/kfc-attendance/kfc-attendance-detail.datatable.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/kfc-attendance/kfc-attendance.add-attendee-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/kfc-attendance/kfc-attendance.list-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/kfc-attendance/kfc-attendance.create-modal.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/kfc-attendance/kfc-attendance.datatable.react.js', 'pages') }}"></script>
        <script type="text/babel" src="{{ asset('scripts/kfc-attendance/kfc-attendance.react.js', 'pages') }}"></script>
    {% endif %}
{% endblock %}